<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="pic.jpg" type="image/x-icon">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
